{% comment %}
  Renders a product specification detail

  Accepts:
  - label: {String} Label
    value; {String} Value

  Usage:
  {% render 'product-detail', label: "label", value: "value" %}
{% endcomment %}

{% if value %}
  <p class="tw-text-regular-semi tw-text-text-dark tw-border tw-border-solid tw-border-text-gray tw-bg-background-light tw-py-2 tw-px-6 tw-rounded tw-mb-4">
    <span class="tw-text-text-gray tw-pr-4">{{ label }}: </span>{{ value }}
  </p>
{% endif %}
