{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class=''>
  <ul class='list-menu tw-flex' role='list'>
    {%- for link in section.settings['topbar-menu'].links -%}
      <li class='tw-flex tw-items-center {% if forloop.first %}tw-pr-12{% elsif forloop.last %}tw-pl-12{% else %}tw-px-12{% endif %}'>
        <a
          id='TopBarMenu-{{ link.handle }}'
          href='{{ link.url }}'
          class='tw-text-white tw-text-medium hover:tw-text-accent-purple'
          {% if link.current %}
            aria-current='page'
          {% endif %}
        >
          <span
            {%- if link.current %}
              class='tw-text-accent-purple'
            {% endif %}
          >
            {{- link.title | escape -}}
          </span>
        </a>
      </li>
      {%- unless forloop.last -%}
        <li class='tw-border-l tw-border-almostWhite tw-mx-2 tw-my-4'></li>
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>
